<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CNPS |Simulator </title>
    <link rel="stylesheet" href="../../static/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-extend.css">
    <link rel="stylesheet" href="../../static/css/master_style.css">

</head>

<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="box">
                    <form action="/submit" method="post">
                        <div class="box-body">

                            <center>
                                <h2 style="color:blue"> CNPS Sample Data </h2>
                            </center>
                            <div class=form-row>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>version</label>
                                            <div class="input-group">
                                                <input class="form-control" name="version" id="version" type="text" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Language</label>
                                            <div class="input-group">
                                                <input class="form-control" name="language" id="language" type="text" value="en">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Cnps Entity Id</label>
                                            <div class="input-group">
                                                <input class="form-control" name="cnps_entity_id" id="cnps_entity_id" type="text" value="TEST001">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Entity Name</label>
                                            <div class="input-group">
                                                <input class="form-control" name="entity_name" id="entity_name" type="text" value="Test">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Entity Phone</label>
                                            <div class="input-group">
                                                <input class="form-control" name="entity_phone" id="entity_phone" type="text" value="98878888">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Entity Email</label>
                                            <div class="input-group">
                                                <input class="form-control" name="entity_email" id="entity_email" type="text" value="infosys@gmail.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Cnps Declaration No</label>
                                            <div class="input-group">
                                                <input class="form-control" name="cnps_declaration_number" id="cnps_declaration_number" type="text" value="97887999">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Declaration Period </label>
                                            <div class="input-group">
                                                <input class="form-control" name="declaration_period" id="declaration_period" type="text" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Declaration Type </label>
                                            <div class="input-group">
                                                <select class="form-control select2" name="declaration_type" id="declaration_type" required>
                                                  <option value="">Select Declaration Type</option>
                                                  <option value="CNPS">CNPS</option>
                                                  <option value="CNAM">CNAM</option>
                                                  <option value="INDP">INDP</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <div class="input-group">
                                                <input class="form-control" name="amount" id="amount" type="text" value="100">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Currency</label>
                                            <div class="input-group">
                                                <input class="form-control" name="currency" id="currency" type="text" value="XOF">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Partial Payment </label>
                                            <div class="input-group">
                                                <select class="form-control select2" name="partial_payment" id="partial_payment" required>
                                                <option value="">Choose Option</option>
                                                <option value="YES">YES</option>     
                                                <option value="NO">NO</option>     
                                              </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Cnps Txn Id</label>
                                            <div class="input-group">
                                                <input class="form-control" name="cnps_transaction_id" id="cnps_transaction_id" type="text" value="122133232">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Notification URL</label>
                                            <div class="input-group">
                                                <input class="form-control" name="notification_url" id="notification_url" type="text" value="http://localhost:9009/notify">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Return URL</label>
                                            <div class="input-group">
                                                <input class="form-control" name="return_url" id="return_url" type="text" value="http://localhost:9009/return">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Cancel URL</label>
                                            <div class="input-group">
                                                <input class="form-control" name="cancel_url" id="cancel_url" type="text" value="http://localhost:9009/cancel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Transaction  StartDate</label>
                                            <div class="input-group">
                                                <input class="form-control" name="transaction_start_date" id="transaction_start_date" type="text" value="2019-09-19 11:22:33">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label>Description </label>
                                            <div class="input-group">
                                                <input class="form-control" name="description" id="description" type="text" value="Test User Txn">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> User id</label>
                                            <div class="input-group">
                                                <input class="form-control" name="user_id" id="user_id" type="text" value="CNPS001">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Payment Mode</label>
                                            <div class="input-group">
                                                <input class="form-control" name="payment_mode" id="payment_mode" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Payment Method</label>
                                            <div class="input-group">
                                                <input class="form-control" name="payment_method" id="payment_method" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Customer Mobile Number</label>
                                            <div class="input-group">
                                                <input class="form-control" name="customer_mobile_number" id="customer_mobile_number" maxlength="10" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3">
                                        <div class="form-group">
                                            <label> Payment Type</label>
                                            <div class="input-group">
                                                <input class="form-control" name="payment_type" id="payment_type" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3 nature_block">
                                        <div class="form-group">
                                            <label>Nature Code</label>
                                            <div class="input-group">
                                                <input class="form-control" name="nature_code" id="nature_code" type="text" value="1232">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-3 nature_block">
                                        <div class="form-group">
                                            <label>Nature Name</label>
                                            <div class="input-group">
                                                <input class="form-control" name="nature_name" id="nature_name" type="text" value="test Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-info" value="Submit">Submit</button>
                            </div>
                        </div>
                    </form>
                    <input type="hidden" id="indp_declaration_type" value="{{.indp_declaration_type}}">
                </div>
            </div>
        </div>
    </div>

    <div class="control-sidebar-bg"></div>
    <script src="../../static/assets/vendor_components/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var indp_declaration_type = $("#indp_declaration_type").val();
            $("#declaration_type").on("change", function() {
                var declaration_type = $("#declaration_type option:selected").val();

                //console.log(declaration_type);
                if (declaration_type == indp_declaration_type) {
                    $(".nature_block").hide();
                } else {
                    $(".nature_block").show();
                }
                
                 if (declaration_type == "CNPS") {
               $('#version').val("v1.2");
            } else {
                $('#version').val("v1.0");
            }
            });
            var declaration_type = $("#declaration_type option:selected").val();
            if (declaration_type == indp_declaration_type) {
                $(".nature_block").hide();
            } else {
                $(".nature_block").show();
            }
            
           
        });
    </script>
</body>

</html>